.qualification_container{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qualification_container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.qualification_container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: pointer;
}
.qualification_container >div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.qualification_content{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    row-gap: 2rem;
    flex-direction: column;
}
.qualification_details{
    display: flex;
    gap: 1rem;
}
.qualification_details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}


@media screen and (max-width: 1024px) {
    .qualification_container{
        grid-template-columns: 1fr;
    }
    .qualification_container >div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}
@media screen and (max-width: 600px) {
    .qualification_container{
        gap: 1rem;
    }
    .qualification_container >div{
        width: 100%;
        padding: 2rem 1rem;
        
    }
}